.controlButton {
    filter: invert(100%);
    height: 100%;
    background-size: 65%;
}

.wb-control {
    display: flex !important;
    justify-content: flex-end !important; 
    align-items: center !important;
}